{% extends 'base.html.twig' %}

{% block title %}Klarcool Durapac{% endblock %}

{% block body %}
    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70">
                                <h2>Durapac®</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{{ path('home_index') }}">{% trans %}Accueil{% endtrans %}</a></li>
                                        <li class="breadcrumb-item"><a href="{{ path('product_durapac') }}">Durapac</a></li>
                                    </ol>
                                </nav>
                                <a href="{{ path('contact') }}" class="btn btn-success circle mt-40">{% trans %}Contactez-nous{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--? Start Sample Area -->
        <div class="service-area section-padding10 mb-100">
            <div class="container">
                <div class="container sample-text-area">
                    <div class="box_1170">
                        <h3 class="text-heading">{% trans with {'%device%': 'DURAPAC'} from 'messages+intl-icu' %}%device%, c'est quoi{% endtrans %} ?</h3>
                        <p class="sample-text">
                            {% trans %}
                            La pompe à chaleur qui utilise un gaz 100% écologique sera bientôt sur le marché,
                            pour plus de renseignements n'hésitez pas à nous contacter
                            {% endtrans %}...
                        </p>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 col-md-6 col-sm-11">
                        <div class="single-cat text-center mb-30">
                            <div class="cat-icon">
                                <img src="{{ asset('assets/img/gallery/durapac-famille.jpg') }}" alt="Durapac-1">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-11">
                        <div class="single-cat text-center mb-30">
                            <div class="cat-icon">
                                <img src="{{ asset('assets/img/gallery/pompe-chaleur.png') }}" alt="Durapac-2">
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="text-heading text-white text-center bg-danger mt-5 p-5" style="border-radius: 25px">{% trans %}DURAPAC ARRIVE BIENTÔT SUR LE MARCHÉ{% endtrans %}...</h3>
            </div>
        </div>
        <!-- End Sample Area -->

    </main>
{% endblock %}
