{% extends 'base.html.twig' %}
    {% block body %}
        <main>
            <!--? Hero Start -->
            <div class="slider-area2">
                <div class="slider-height2 d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="hero-cap hero-cap2 pt-70">
                                    <h2>Nos produits</h2>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="{{ path('home_index') }}">Accueil</a></li>
                                            <li class="breadcrumb-item"><a href="{{ path('product') }}">Nos produits</a></li>
                                        </ol>
                                    </nav>
                                    <a href="{{ path('contact') }}" class="btn btn-success circle mt-40">Contactez-nous</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hero End -->
            <!--? Blog Area Start-->
            <section class="blog_area section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 mb-5 mb-lg-0">
                            <div class="blog_left_sidebar">
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" src="{{ asset('assets/img/gallery/duraclim1bis.jpg') }}" alt="duraclim">
                                        <a href="{{ path('product_duraclim') }}" class="blog_item_date">
                                            <h3>DURACLIM</h3>
                                            <p>Visitez</p>
                                        </a>
                                    </div>
                                    <div class="blog_details">
                                        <a class="d-inline-block" href="{{ path('product_duraclim') }}">
                                            <h2 class="blog-head" style="color: #2d2d2d;">Activités et métiers de Klarcool</h2>
                                        </a>
                                        <ul class="mb-5 ml-3">
                                            <li style="list-style-type: circle;">Fabrication de machines automatisées de recharge de climatisation  automobile utilisant le gaz écologique Duracool</li>
                                            <li style="list-style-type: circle;">Fabrication de machines de nettoyage des moteurs par hydrogène marque Motorklar sans sous-traitance</li>
                                            <li style="list-style-type: circle;">Fabrication de pompes à chaleur 12 à 30 kw 100% écologique utilisant le gaz Duracool</li>
                                            <li style="list-style-type: circle;">Ingénierie bureau d'étude et développement de nouveaux systèmes écologiques liées à l'automobile et l'habitat</li>
                                            <li style="list-style-type: circle;">Formation sur la technique la gamme machine de la société</li>
                                        </ul>
                                        <ul class="blog-info-link">
                                            <li><a href="{{ asset('assets/pdf/201001-book-presentation-v.06 fmi.pdf') }}" download><i class="far fa-file-pdf"></i> Documentation</a></li>
                                            <li><a href="{{ path('contact') }}"><i class="far fa-envelope-open"></i> Contact</a></li>
                                        </ul>
                                    </div>
                                </article>
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" src="{{ asset('assets/img/gallery/motorklar1bis.jpg') }}" alt="motorklar">
                                        <a href="{{ path('product_motorklar') }}" class="blog_item_date">
                                            <h3>MOTORKLAR</h3>
                                            <p>Visitez</p>
                                        </a>
                                    </div>
                                    <div class="blog_details">
                                        <a class="d-inline-block" href="{{ path('product_motorklar') }}">
                                            <h2 class="blog-head" style="color: #2d2d2d;">Activités et métiers de Klarcool</h2>
                                        </a>
                                        <ul class="mb-5 ml-3">
                                            <li style="list-style-type: circle;">Fabrication de machines automatisées de recharge de climatisation  automobile utilisant le gaz écologique Duracool</li>
                                            <li style="list-style-type: circle;">Fabrication de machines de nettoyage des moteurs par hydrogène marque Motorklar sans sous-traitance</li>
                                            <li style="list-style-type: circle;">Fabrication de pompes à chaleur 12 à 30 kw 100% écologique utilisant le gaz Duracool</li>
                                            <li style="list-style-type: circle;">Ingénierie bureau d'étude et développement de nouveaux systèmes écologiques liées à l'automobile et l'habitat</li>
                                            <li style="list-style-type: circle;">Formation sur la technique la gamme machine de la société</li>
                                        </ul>
                                        <ul class="blog-info-link">
                                            <li><a href="{{ asset('assets/pdf/201001-book-presentation-v.06 fmi.pdf') }}" download><i class="far fa-file-pdf"></i> Documentation</a></li>
                                            <li><a href="{{ path('contact') }}"><i class="far fa-envelope-open"></i> Contact</a></li>
                                        </ul>
                                    </div>
                                </article>
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" src="{{ asset('assets/img/gallery/durapac1bis.jpg') }}" alt="durapac">
                                        <a href="{{ path('product_durapac') }}" class="blog_item_date">
                                            <h3>DURAPAC</h3>
                                            <p>Visitez</p>
                                        </a>
                                    </div>
                                    <div class="blog_details">
                                        <a class="d-inline-block" href="{{ path('product_durapac') }}">
                                            <h2 class="blog-head" style="color: #2d2d2d;">Activités et métiers de Klarcool</h2>
                                        </a>
                                        <ul class="mb-5 ml-3">
                                            <li style="list-style-type: circle;">Fabrication de machines automatisées de recharge de climatisation  automobile utilisant le gaz écologique Duracool</li>
                                            <li style="list-style-type: circle;">Fabrication de machines de nettoyage des moteurs par hydrogène marque Motorklar sans sous-traitance</li>
                                            <li style="list-style-type: circle;">Fabrication de pompes à chaleur 12 à 30 kw 100% écologique utilisant le gaz Duracool</li>
                                            <li style="list-style-type: circle;">Ingénierie bureau d'étude et développement de nouveaux systèmes écologiques liées à l'automobile et l'habitat</li>
                                            <li style="list-style-type: circle;">Formation sur la technique la gamme machine de la société</li>
                                        </ul>
                                        <ul class="blog-info-link">
                                            <li><a href="{{ asset('assets/pdf/201001-book-presentation-v.06 fmi.pdf') }}" download><i class="far fa-file-pdf"></i> Documentation</a></li>
                                            <li><a href="{{ path('contact') }}"><i class="far fa-envelope-open"></i> Contact</a></li>
                                        </ul>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Blog Area End -->
        </main>
    {% endblock %}