{% extends 'base.html.twig' %}

{% block title %}Klarcool Contact{% endblock %}

{% block body %}
    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70">
                                <h2>Contact</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{{ path('home_index') }}">{% trans %}Accueil{% endtrans %}</a></li>
                                        <li class="breadcrumb-item"><a href="{{ path('contact') }}">Contact</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--?  Contact Area start  -->
        <section class="contact-section">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1naqbou38Z5oBM7MoUOdLV1cRvbAlOB7V" width="1500" height="600" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0$"></iframe>
                </div>
                <div class="row mt-80">
                    <div class="col-12">
                        <h2 class="contact-title mb-5">Contact</h2>
                    </div>
                    <div class="col-lg-8">
                        {{ form_start(form) }}
                            <div class="form-contact row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ form_widget(form.name, {
                                            'attr': {'class': 'form-control valid', 'placeholder': 'Entrez votre nom'|trans}
                                        }) }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ form_widget(form.email, {
                                            'attr': {'class': 'form-control valid', 'placeholder': 'Entrez votre mail'|trans}
                                        }) }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        {{ form_widget(form.subject, {
                                            'attr': {'class': 'form-control', 'placeholder': 'Entrez votre sujet' | trans}
                                        }) }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        {{ form_widget(form.message, {
                                            'attr': {'class': 'form-control w-100', 'cols': '30', 'rows': '9', 'placeholder': 'Entrez votre message'|trans}
                                        }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3 mb-50">
                                <button class="button button-contactForm boxed-btn">{{ button_label|default('Envoyer'|trans) }}</button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-home"></i></span>
                            <div class="media-body">
                                <h2>{% trans %}Siège social{% endtrans %}</h2>
                                <a href="https://goo.gl/maps/o4AUk4yFXfLLJGKu7" target="_blank"><h3>68, rue de la Varenne</h3></a>
                                <p>37150 Bléré</p>
                            </div>
                        </div>
                        <div class="media contact-info mb-2">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <a href="tel:+33983370894"><h3 class="mb-2">{% trans %}Service administratif et commercial{% endtrans %}<br>+33(0) 983 370 894</h3></a>
                                <a href="tel:+33982585812"><h3>{% trans %}Service technique{% endtrans %}<br>+33(0) 982 585 812</h3></a>
                            </div>
                        </div>
                        <div class="divider my-0"></div>
                        <div class="media contact-info mt-2">
                            <span class="contact-info__icon"><i class="ti-home"></i></span>
                            <div class="media-body">
                                <h2>{% trans %}Agence{% endtrans %} Île-de-France</h2>
                                <a href="https://goo.gl/maps/BHDc5DJFNs1wMJN99" target="_blank"><h3>11, rue Ferdinand Cambon</h3></a>
                                <p>75020 Paris</p>
                            </div>
                        </div>
                        <div class="media contact-info mb-2">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <a href="tel:+33782055555"><h3>{% trans %}Service commercial{% endtrans %}<br>+33(0) 782 055 555</h3></a>
                            </div>
                        </div>
                        <div class="divider my-0"></div>
                        <div class="media contact-info mt-2">
                            <span class="contact-info__icon"><i class="ti-email"></i></span>
                            <div class="media-body">
                                <a href="mailto:contact@klarcool-groupe.com"><h3>contact@klarcool-groupe.com</h3></a>
                                <p class="my-0"><small>{% trans %}Du lundi au vendredi de 9h à 18h{% endtrans %}</small></p>
                                <p><small>{% trans %}Pour toute information n'hésitez pas à nous contacter{% endtrans %}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
{#
<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-70">
                            <h2>Contact</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ path('home_index') }}">{% trans %}Accueil{% endtrans %}</a></li>
                                    <li class="breadcrumb-item"><a href="{{ path('contact') }}">Contact</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--?  Contact Area start  -->
    <section class="contact-section">
        <div class="container">
            <div class="d-flex justify-content-center">
                <iframe src="https://www.google.com/maps/d/embed?mid=1naqbou38Z5oBM7MoUOdLV1cRvbAlOB7V" width="1500" height="600" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0$"></iframe>
            </div>
            <div class="row mt-80">
                <div class="col-12">
                    <h2 class="contact-title mb-5">Contact</h2>
                </div>
                <div class="col-lg-8">
                    {{ form_start(form) }}
                    <div class="form-contact row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form_widget(form.name, {
                                    'attr': {'class': 'form-control valid', 'placeholder': 'Entrez votre nom'|trans}
                                }) }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form_widget(form.email, {
                                    'attr': {'class': 'form-control valid', 'placeholder': 'Entrez votre mail'|trans}
                                }) }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                {{ form_widget(form.subject, {
                                    'attr': {'class': 'form-control', 'placeholder': 'Entrez votre sujet' | trans}
                                }) }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                {{ form_widget(form.message, {
                                    'attr': {'class': 'form-control w-100', 'cols': '30', 'rows': '9', 'style': 'min-height: 300px', 'placeholder': 'Entrez votre message'|trans}
                                }) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-3 mb-50">
                        <button class="button button-contactForm boxed-btn">{{ button_label|default('Envoyer'|trans) }}</button>
                    </div>

                    {{ form_end(form) }}
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-home"></i></span>
                        <div class="media-body">
                            <h2>{% trans %}Si  ge social{% endtrans %}</h2>
                            <a href="https://goo.gl/maps/o4AUk4yFXfLLJGKu7" target="_blank"><h3>68, rue de la Varenne</h3></a>
                            <p>37150 Bléré</p>
                        </div>
                    </div>
                    <div class="media contact-info mb-2">
                        <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                        <div class="media-body">
                            <a href="tel:+33983370894"><h3 class="mb-2">{% trans %}Service administratif et commercial{% endtrans %}<br>+33(0) 983 370 894</h3></a>
                            <a href="tel:+33982585812"><h3>{% trans %}Service technique{% endtrans %}<br>+33(0) 982 585 812</h3></a>
                        </div>
                    </div>
                    <div class="divider my-0"></div>
                    <div class="media contact-info mt-2">
                        <span class="contact-info__icon"><i class="ti-home"></i></span>
                        <div class="media-body">
                            <h2>{% trans %}Agence{% endtrans %} Île-de-France</h2>
                            <a href="https://goo.gl/maps/BHDc5DJFNs1wMJN99" target="_blank"><h3>11, rue Ferdinand Cambon</h3></a>
                            <p>75020 Paris</p>
                        </div>
                    </div>
                    <div class="media contact-info mb-2">
                        <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                        <div class="media-body">
                            <a href="tel:+33782055555"><h3>{% trans %}Service commercial{% endtrans %}<br>+33(0) 782 055 555</h3></a>
                        </div>
                    </div>
                    <div class="divider my-0"></div>
                    <div class="media contact-info mt-2">
                        <span class="contact-info__icon"><i class="ti-email"></i></span>
                        <div class="media-body">
                            <a href="mailto:contact@klarcool-groupe.com"><h3>contact@klarcool-groupe.com</h3></a>
                            <p class="my-0"><small>{% trans %}Du lundi au vendredi de 9h    18h{% endtrans %}</small></p>
                            <p><small>{% trans %}Pour toute information n'h  sitez pas    nous contacter{% endtrans %}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
#}


