<footer>
    <div class="footer-wrapper">
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container ">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-lg-3 col-md-8 col-sm-8">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo mb-35">
                                    <a href="{{ path('home_index') }}"><img src="{{ asset('assets/img/logo/logo-klarcool.png') }}" alt="logo-klarcool" style="width: 200px"></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>{% trans %}Klarcool Groupe, le fabricant qui s’engage pour vous et avec vous.{% endtrans %}</p>
                                    </div>
                                </div>
                                <!-- social -->
                                <div class="footer-social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>{% trans %}Nos Produits{% endtrans %}</h4>
                                <ul>
                                    <li><a href="{{ path('product_duraclim') }}">Duraclim</a></li>
                                    <li><a href="{{ path('product_motorklar') }}">Motorklar</a></li>
                                    <li><a href="{{ path('product_motorklar') }}">Minikool</a></li>
                                    <li><a href="{{ path('product_durapac') }}">Durapac</a></li>
                                    <li><a href="{{ path('eco-activites') }}">{% trans %}L'éco-activité{% endtrans %}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Klarcool</h4>
                                <ul>
                                    <li><a href="{{ path('actuality_index') }}">{% trans %}Emplois{% endtrans %}</a></li>
                                    <li><a href="{{ path('actuality_index') }}">{% trans %}Actualités{% endtrans %}</a></li>
                                    <li><a href="{{ asset('assets/pdf/201001-book-presentation-v.06 fmi.pdf') }}"><u class="text-white">Docs</u><br>Duraclim/Motorklar</a></li>
                                    <li><a href="{{ asset('assets/pdf/doc-minikool.pdf') }}"><u class="text-white">Docs</u><br>Minikool</a></li>
                                    <li><a href="{{ asset('assets/pdf/200928_KCG_CATALOGUE_DURAPAC_V.07.pdf') }}"><u class="text-white">Docs</u><br>Durapac</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-4">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Contact</h4>
                                <ul>
                                    <li><a href="mailto:contact@klarcool-groupe.com" target="_blank">contact@klarcool-groupe.com</a></li>
                                    <li><a href="https://goo.gl/maps/o4AUk4yFXfLLJGKu7" target="_blank">68, rue de la Varenne<br>
                                            37150 Bléré</a></li>
                                    <li><a href="https://www.iubenda.com/privacy-policy/39282990" target="_blank">{% trans %}Politique de confidentialité{% endtrans %}</a></li>
                                    <li class="number"><a href="tel:+33983370894">+33(0) 983 370 894</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-center">
                                <p>
                                    Klarcool Groupe© - {% trans %}Application web et web mobile créée par{% endtrans %}
                                    <a href="https://benkod.fr" target="_blank"> Benkod.fr</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </div>
</footer>
<!-- Scroll Up-->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>
