{% extends 'base.html.twig' %}

{% block title %}Klarcool Accueil{% endblock %}

{% block body %}
    <main>
        <!-- slider Area Start-->
        <div class="slider-area position-relative">
            <div class="slider-active dot-style">
                <!-- Single Slider -->
                <div class="single-slider hero-overly slider-height slider-bg1 d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-10">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInUp" data-delay=".2s">KLARCOOL GROUPE</h1>
                                    <p data-animation="fadeInUp" data-delay=".4s">La performance ecolo'<br><br>
                                        Un fabricant qui s'engage pour vous et avec vous</p>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn">
                                        <a href="{{ path('eco-activites') }}" class="hero-btn mb-10"  data-animation="fadeInUp" data-delay=".8s">Qui sommes nous ?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Slider -->
                <div class="single-slider hero-overly slider-height slider-bg2 d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInUp" data-delay=".2s">Environnement</h1>
                                    <p data-animation="fadeInUp" data-delay=".4s">Un engagement responsable et eco-profitable</p>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn">
                                        <a href="{{ path('eco-activites') }}" class="hero-btn mb-10"  data-animation="fadeInUp" data-delay=".8s">Nos objectifs</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Slider -->
                <div class="single-slider hero-overly slider-height slider-bg3 d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInUp" data-delay=".2s">Energie</h1>
                                    <p data-animation="fadeInUp" data-delay=".4s">Créer une dynamique économique respectueuse de l’environnement</p>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn">
                                        <a href="{{ path('eco-activites') }}" class="hero-btn mb-10"  data-animation="fadeInUp" data-delay=".8s">Nos atouts</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--? video_start -->
            <div class="video-area d-flex align-items-center justify-content-center">
                <div class="video-wrap position-relative">
                    <div class="video-icon" >
                        <a class="popup-video btn-icon" href="{{ asset('assets/video/presentation-V3.mp4') }}"><i class="fas fa-play"></i></a>
                    </div>
                </div>
            </div>
            <!-- video_end -->
        </div>
        <!-- slider Area End-->
        <!--? Visit Our Tailor Start -->
        <div class="visit-tailor-area fix pt-50">
            <!--Right Contents  -->
            <div class="tailor-offers"></div>
            <!-- left Contents -->
            <div class="tailor-details">
                <span>KLARCOOL GROUPE</span>
                <h2>NOTRE MISSION</h2>
                <p>
                    Animé par de VRAIES VALEURS D’ENGAGEMENTS, une équipe de femmes et
                    d’hommes composée d’ingénieurs, de Techniciens, et de Consultants, qui consacrent
                    toutes leurs expériences et leur Savoir-Faire au développement de solutions
                    Technologiques Innovantes, au service de l’environnement et d’une économie
                    Responsable.
                    Créatrice de nouvelles Richesses dans les domaines de Compétences suivant :<br>
                    DE L’AUTOMOBILE, DE L’HABITAT et de L’INDUSTRIE.
                </p>
                <h3 class="text-success">
                    <strong>La parole du président:</strong>
                </h3>
                <p class="pera-bottom">
                    “Nous traversons tous une période très difficile, sur le plan Climatique et Economique.
                    Pour y faire face, Klarcool-Group vous propose des solutions Simples,
                    Innovantes par la combinaison AUDACIEUSE entre l’Esprit Ecologique et des Activités Rentables
                    afin de favoriser une véritable symbiose entre le professionnel et le Consommateur.
                    Notre culture de l’entreprise nous permet une vision pragmatique de vos besoins.
                    La qualité de nos produits MADE IN FRANCE et notre concept Eco- activités,
                    constitue pour nous et pour vous une valeur sure pour vous accompagner au cœur d’une transition écologique réussie.”
                </p>
                <p class="text-success">
                    <strong>“Klarcool Groupe, le fabricant qui s’engage pour vous et avec vous.”</strong>
                </p>
                <div class="footer-tittles">
                    <p><strong>Hafid Kouachi</strong></p>
                </div>
            </div>
        </div>
        <!-- Visit Our Tailor End -->
        <!--? About Area Start -->
        <section class="support-company-area fix pt-50">
            <div class="support-wrapper align-items-center">
                <div class="left-content">
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-30">
                        <span>Pourquoi choisir Klarcool ?</span>
                        <h2>Votre éco-activité clef en main</h2>
                    </div>
                    <div class="support-caption">
                        <p class="pera-top">
                            Un fabricant Français a la volonté de s’engager à vos côtés pour vous accompagner à la transition
                            écologique par la mise en place de solutions et d’outils simples d’utilisation.
                            Nous désirons par ce concept « éco-activité » créer une dynamique rentable et écologique chez vous.
                            C’est l’ouverture vers un avenir plus sûr.
                        </p>
                        <a href="{{ path('contact') }}" class="border-btn">Contactez-nous</a>
                    </div>
                </div>
                <div class="right-content">
                    <!-- img -->
                    <div class="right-img">
                        <img src="{{ asset('assets/img/gallery/home-ecolo.jpg') }}" alt="ecologie">
                    </div>
                    <div class="support-img-cap text-center d-flex ml-lg-200">
                        <div class="single-one">
                            <span>0%</span>
                            <p>Pollution</p>
                        </div>
                        <div class="single-two">
                            <span>100%</span>
                            <p>Energie, Efficacité</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        <!--? Services Area Start -->
        <div class="service-area section-padding30">
            <div class="container">
                <div class="section-tittle section-tittle2 mb-30">
                    <span>Une équipe à l'écoute</span>
                    <h2>À votre service!</h2>
                    <p>
                        Une équipe à l'écoute, disponible.<br>
                        Nous vous accompagnons tout au long de notre histoire...
                    </p>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 col-md-6 col-sm-11">
                        <div class="single-cat text-center mb-30">
                            <div class="cat-icon">
                                <img src="{{ asset('assets/img/gallery/service-ap.jpg') }}" alt="service Klarcool">
                            </div>
                            <div class="cat-cap">
                                <h5><a class="text-decoration-none" href="">Service après-vente</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-11">
                        <div class="single-cat text-center mb-30">
                            <div class="cat-icon">
                                <img src="{{ asset('assets/img/gallery/formation.jpg') }}" alt="formation Klarcool">
                            </div>
                            <div class="cat-cap">
                                <h5><a class="text-decoration-none" href="">Formation marketing et commerciale adaptée</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-12 col-sm-11">
                        <div class="single-cat text-center mb-30">
                            <div class="cat-icon">
                                <img src="{{ asset('assets/img/gallery/hotline.jpg') }}" alt="Hotline Klarcool">
                            </div>
                            <div class="cat-cap">
                                <h5><a class="text-decoration-none" href="tel:+33982585812">Hotline +33(0) 982 585 812</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-11">
                        <div class="single-cat text-center mb-30">
                            <div class="cat-icon">
                                <img src="{{ asset('assets/img/gallery/calcul.jpg') }}" alt="calcul Klarcool">
                            </div>
                            <div class="cat-cap">
                                <h5><a class="text-decoration-none" href="">Calcul de financement adapté à vos besoins et vos capacités</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-11">
                        <div class="single-cat text-center mb-30">
                            <div class="cat-icon">
                                <img src="{{ asset('assets/img/gallery/feet.jpg') }}" alt="engagement Klarcool">
                            </div>
                            <div class="cat-cap">
                                <h5><a class="text-decoration-none" href="">Professionnels et consommateurs ensembles pour une transition écologique réussie.</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-11">
                        <div class="single-cat text-center mb-30">
                            <div class="cat-icon">
                                <img src="{{ asset('assets/img/gallery/stock.jpg') }}" alt="stock Klarcool">
                            </div>
                            <div class="cat-cap">
                                <h5><a class="text-decoration-none" href="">Une gestion adaptée des stocks de pièces détachées.</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services Area End -->
        <!--? Our Cases Start -->
        <div class="our-cases-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-12 col-lg-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-80">
                            <h2>Nos activités</h2>
                            <p>
                                La richesse naturel et la responsabilté indivudelle aux services de l'énèrgie...
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cases mb-40">
                            <div class="cases-img">
                                <img class="" src="{{ asset('assets/img/gallery/duraclim.jpg') }}" alt="duraclim" style="width: 197px">
                            </div>
                            <div class="cases-caption">
                                <h3><a href="{{ path('product_duraclim') }}">Duraclim</a></h3>
                                <p>
                                    La station DURACLIM® V3 permet de recharger tous les modèles de véhicules sans exception.
                                </p>
                                <!-- Progress Bar -->
                                <div class="single-skill mb-15">
                                    <div class="bar-progress">
                                        <div id="bar1" class="barfiller">
                                            <div class="tipWrap">
                                                <span class="tip"></span>
                                            </div>
                                            <span class="fill" data-percentage="100"></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- / progress -->
                                <div class="prices">
                                    <p><span>100% de pollution en moins</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cases mb-40">
                            <div class="cases-img">
                                <img src="{{ asset('assets/img/gallery/machine-hydrogene.jpg') }}" alt="motorklar"  style="width: 205px">
                            </div>
                            <div class="cases-caption">
                                <h3><a href="{{ path('product_motorklar') }}">Motorklar</a></h3>
                                <p>
                                    La station MOTORKLAR® permet de dépolluer tous les modèles de véhicules sans exception.
                                </p>
                                <!-- Progress Bar -->
                                <div class="single-skill mb-15">
                                    <div class="bar-progress">
                                        <div id="bar2" class="barfiller">
                                            <div class="tipWrap">
                                                <span class="tip"></span>
                                            </div>
                                            <span class="fill" data-percentage="100"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="prices">
                                    <p><span>100% d'efficacité</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cases">
                            <div class="cases-img">
                                <img src="{{ asset('assets/img/gallery/durapac-2.jpg') }}" alt="durapac" style="height: 360px">
                            </div>
                            <div class="cases-caption">
                                <h3><a href="{{ path('product_durapac') }}">Durapac</a></h3>
                                <p>
                                    NOUVEAU.<br><br>
                                    BIENTOT SUR LE MARCHÉ...<br>
                                </p>
                                <!-- Progress Bar -->
                                <div class="single-skill mb-15">
                                    <div class="bar-progress">
                                        <div id="bar3" class="barfiller">
                                            <div class="tipWrap">
                                                <span class="tip"></span>
                                            </div>
                                            <span class="fill" data-percentage="0"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="prices">
                                    <p><span>0% de contrainte</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Cases End -->
        <!--? Blog Area Start --> <!-- Section Tittle --><!---
        <section class="home-blog-area pb-padding">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-9 col-md-11">
                        <div class="section-tittle text-center mb-90">
                            <h2>Latest news</h2>
                            <p>Interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo  cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="home-blog-single mb-30">
                            <div class="blog-img-cap">
                                <div class="blog-img">
                                    <img src="{{ asset('assets/img/gallery/home-blog1.png') }}" alt="">
                                </div>
                                <div class="blog-cap">
                                    <h3><a href="{{ path('product') }}">Leverage agile frameworks to provide a robust synopsis</a></h3>
                                    <p>The automated process starts as soon as  your clothes go into the machine. Duis cursus, mi quis viverra ornare.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="home-blog-single mb-30">
                            <div class="blog-img-cap">
                                <div class="blog-img">
                                    <img src="{{ asset('assets/img/gallery/home-blog2.png') }}" alt="">
                                </div>
                                <div class="blog-cap">
                                    <h3><a href="{{ path('product') }}">Leverage agile frameworks to provide a robust synopsis</a></h3>
                                    <p>The automated process starts as soon as  your clothes go into the machine. Duis cursus, mi quis viverra ornare.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        --->
        <!-- Blog Area End -->
    </main>
{% endblock %}
